@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(180deg);
    }
    0% {
        transform: rotate(0deg);
    }
}

* {
    background-color: rgb(44, 44, 44);
}

.fan {
    background: #ff6d;


    height: 35px;
    width: 35px;

    border-radius: 50%;

    margin-left: 50%;
    margin-top: 25%;

    position: relative;
    transform-origin: center;

    animation: spin 0.5s linear infinite;

    box-shadow: 0px 1px 5px 6.3px rgba(206, 206, 206, 0.2);

}

.fan::before {
    content: "";

    position: absolute;

    background: linear-gradient(rgb(167, 21, 21), rgb(248, 97, 97));

    height: 80px;
    width: 40px;

    border-radius: 50% 50% 50% 50% / 85% 85% 15% 15%;
    top: 46px;

    box-shadow: 10px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.fan::after {
    content: "";
    
    position: absolute;

    background: linear-gradient(rgb(117, 176, 243), rgb(23, 70, 124));

    height: 80px;
    width: 40px;

    border-radius: 50% 50% 50% 50% / 15% 15% 85% 85%;
    top: -92px;

    box-shadow: -10px -5px 5px 2px rgba(0, 0, 0, 0.2);

}

h1 {

    /* Estilização temporaria só para tirar uma foto superficial. */
    color: white;

    font-family: sans-serif;
    
    margin: 10% 0% 0% 42.5%;
}